@import './styles/home';
@import './styles/userTickets';
@import './styles/allFlights';

body{
    background: rgb(221, 221, 221);
}

.hide{
    visibility: hidden ;
}

.show{
    visibility: visible;
}

