@import './styles/config';
@import './styles/search';
@import './styles/userTickets';
@import './styles/allFlights';
@import './styles/seatPicker';
@import './styles/responsive';
@import './styles/navigation';
@import './styles/ticketRegistration';


body{
    background: rgb(221, 221, 221);
}

.hide{
    visibility: hidden ;
}

.center-horizontally{
    display: flex;
    justify-content: center;
}

