@import './styles/home';
@import './styles/userTickets';
@import './styles/allFlights';
@import './styles/seatPicker';

body{
    background: rgb(221, 221, 221);
}

.hide{
    visibility: hidden ;
}

.center-horizontally{
    display: flex;
    justify-content: center;
}

