.link-container{
    display: flex;
}

.navigation-container{
    display: flex;
    justify-content: center;
}
.navigation-list{
    width: 97%;
    display: flex;
    justify-content: space-between;
}

