.link-container{
    display: flex;
}

$logoTextColor:rgba(0,0,0 , .5);

.navigation-container{
    display: flex;
    justify-content: center;
}
.navigation-list{
    width: 97%;
    display: flex;
    justify-content: space-between;
}

.logo{
    text-decoration: none;
    color: $logoTextColor;

    &:hover{
        text-decoration: none;
        color: $logoTextColor ;
    }
}

