.reserves{
    width: 50%;
    display: flex;
    justify-content: space-around;

    &_flights{
        position: relative;
        width: 70%;
    }

    .sections{
        position: relative;
        border: 5px solid black;
        padding: 20px;
        margin:10px;

        .section{
            border:1px solid ;
            border-radius:10px;
            margin-top:10px;
            text-align: center;

            & >p{
                border-bottom: 1px solid;
            }
        }
    }
}