.reserves{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    &_flights{
        position: relative;
        width: 70%;
    }

    &_seats-details{
        p{
            user-select: none;
            padding: 5px;
        }
        .selected{
            background: #007bff;
            border-radius: 10px;
        }
    }

    .sections{
        position: absolute;
        padding: 20px;
        margin:10px;

        .section{
            border:1px solid ;
            border-radius:10px;
            margin-top:10px;
            text-align: center;

            & >p{
                border-bottom: 1px solid;
            }
        }
    }
}